:root {
    --bg-default: #fcfcfc;
    --color-canvasBorder: #565764;
    --color-canvasDark: #e3e3e3;
    --color-canvasDarker: #cacaca;
    --color-canvasText: #2C2D3C;
    --color-canvasTextDark: #107633;
    --color-canvasTextDarker: #062c13;
    --ly-brand: #67EA94;
    --accent: #2ce26a;
    --dark-accent: #67EA94;
    --ly-bg-brand: #67EA94;
    --color-primaryDark: #2ce26a;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-default: #2C2D3C;
    --color-canvasDark: #1f2031;
    --color-canvasDarker: #232430;
    --color-canvasText: #fff;
  }
}
body > header {
    align-items: center;
    background-color: var(--ly-brand);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.logo {
    max-width: calc(100% - 3rem);
}
.meet-button {
    background: var(--default);
    border-color: transparent !important;
    color: var(--contrast);
    margin-bottom: 20px;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease, transform 1s ease;
}
header.loaded .meet-button {
    opacity: 1;
    transform: translateX(0);
}
@media (min-width: 768px) {
    body > header {
        flex-direction: row;
    }
    .logo {
        margin-bottom: 0;
        margin-right: 20px;
    }
    .meet-button {
        margin-bottom: 0;
    }
}
main {
    margin: 0 auto 40px;
    max-width: 900px;
}
footer {
    margin: 0 auto !important;
    max-width: 900px;
}
.partner-logos {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.partner-heading {
    align-items: center;
    display: flex;
    margin-top: 2rem;
}
.partner-heading img {
    margin-left: 0;
    margin-right: 10px;
}
.white-bg {
    background-color: #fff;
}
.social {
    margin: 20px 0 0;
    text-align: center;
}
.social p {
    display: none;
}
.social a {
    padding: 0 10px;
}
@media only screen and (min-width: 720px) {
    .social {
        margin: 20px 0 20px;
    }
    .social p {
        display: block;
    }
}
menu > li:has(> menu)::after {
    content: "▾";
    display: inline-block;
}
