---
layout: layouts/base.html
---
<h1>{{ site.name }}</h1>
<section class="hero lazy"
         data-bg="/assets/images/austin-mesh-wildflower-center-small.webp"
         data-bg-retina="/assets/images/austin-mesh-wildflower-center-large.webp"
         aria-label="Hand holding a Meshtastic communicator at the Ladybird Johnson Wildflower Center with a view of the Texas countryside and Austin city skyline in the background with an invitation to join the group or learn more">
    <div class="hero-content">
        <h2>We are a community group building a free text messaging network in Austin</h2>
        <a class="success" href="/join/">Join the network</a>
        <a class="default" href="/learn/">Learn more</a>
    </div>
</section>
{{ content }}
<section>
    <h2>Community partners</h2>
    <p>We're extremely grateful to our great community partners who have helped to build this strong network. <a href="/partners/">Explore photos, learn more, or become a partner</a></p>
    <div class="partner-logos">
        {% for partner in partners %}
            {% if partner.logos %}
                {% for logo in partner.logos %}
                <div>
                    <img src="{{ logo.src }}" width="{{ logo.width }}" alt="{{ logo.alt }}" title="{{ logo.title }}" loading="lazy" class="white-bg" />
                </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</section>

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const lazyContainers = document.querySelectorAll('.lazy');

      const options = {
        root: null,
        rootMargin: '0px',
        threshold: 0.1
      };

      const loadBackground = (container) => {
        const bgImage = container.dataset.bg;
        const bgImageRetina = container.dataset.bgRetina;

        const image = new Image();
        image.src = window.devicePixelRatio > 1 && bgImageRetina ? bgImageRetina : bgImage;
        image.onload = () => {
          container.style.backgroundImage = `url(${image.src})`;
          container.classList.remove('lazy');
        };
      };

      const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            loadBackground(entry.target);
            observer.unobserve(entry.target);
          }
        });
      }, options);

      lazyContainers.forEach(container => {
        observer.observe(container);
      });
    });
</script>
{% endblock %}
