---
import BaseLayout from '../layouts/BaseLayout.astro';
import PartnersSection from '../components/PartnersSection.astro';
---

<BaseLayout
  title="Community Partners | Austin Mesh"
  description="Learn how we partner with AISD, UT Austin, and LASA today, or reach out to become a partner."
>
  <hgroup>
    <h1>Our community partners</h1>
    <p>Want to support Austin Mesh and the Austin Community at large? <a href="mailto:info@austinmesh.org">Reach out to us via email at info@austinmesh.org!</a></p>
  </hgroup>

  <PartnersSection showTitle={false} />
</BaseLayout>
