---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import techoDrone from '../images/techo-drone.webp';
---

<BaseLayout 
  title="Similar Networks | Austin Mesh" 
  description="Discover similar mesh networks and learn how to start your own."
>
  <h1>Similar networks</h1>
  
  <section>
    <h2>Other area meshes</h2>
    <p>Here are some of our partner meshes across the US</p>
    <ul>
      <li>Birmingham, Alabama: <a href="http://birminghammesh.org/">Birmingham Mesh</a></li>
      <li>Calgary, Alberta: <a href="https://yycmesh.com">YYC Mesh</a></li>
      <li>Charlotte, North Carolina: <a href="https://charlottemesh.org/">Charlotte Mesh</a></li>
      <li>North Carolina <a href="https://ncmesh.net/">NC Mesh</a></li>
      <li>Chicago, Illinois: <a href="https://chicagolandmesh.org/">Chicagoland Mesh</a></li>
      <li>Denver, Colorado: <a href="https://denvermesh.org/">Denver Mesh</a></li>
      <li>Hawaii: <a href="https://www.hawaiimesh.net/">Hawaii Mesh</a></li>
      <li>Nashville, Tennessee: <a href="https://www.instagram.com/meshville.tn">Meshville</a></li>
      <li>Northern Texas: <a href="https://ntxmesh.net">North Texas Mesh</a></li>
      <li>Northwest Arkansas: <a href="https://nwamesh.com/">Northwest Arkansas Mesh</a></li>
      <li>Okmesh: <a href="https://okmesh.org/">Okmesh</a></li>
      <li>Philadelphia, Pennsylvania: <a href="https://iffybooks.net/">Iffy Books is leading the effort</a></li>
      <li>San Francisco(Bay Area): <a href="https://bayme.sh">bayme.sh</a></li>
      <li>Southern California: <a href="https://socalmesh.org/">SoCal Mesh</a></li>
      <li>Wisconsin: <a href="https://meshconsin.org/">Meshconsin</a></li>
    </ul>
  </section>
  
  <section id="start-a-similar-network">
    <h2>How to start a similar mesh network for your area</h2>
    <p>For anyone trying to start a similar mesh network, here's what we've found to work:</p>
    <ol>
      <li>The hardest part(and arguably the most fun part) of setting up a mesh network is organizing people. For a mesh to work well you need a <b>lot</b> of people working to set up nodes around town. Finding these people is harder than putting together hardware.</li>
      <li>Have regular meetings - we try to have meetings once per quarter. Sometimes we have 30+ people and sometimes it's just 2 or 3 of us meeting up at the pub. Keeping regular meetings means that people can feel confident that if they miss a meeting there will be another one soon.</li>
      <li>Use some type of internet based chat room like Discord, Slack, or Telegram in addition to the mesh.</li>
      <li>Create an email list and make sure to add anyone who is interested in the club. Not everyone wants to use the aforementioned internet chat room.</li>
      <li>Set up social media accounts and advertise your meetings and talk about your achievements. When you get a solar power node set up be sure to talk about it!</li>
      <li>Connect with your local ham radio club(s) - they're very knowledgable about radio and they often have access to towers and rooftops.</li>
      <li>Connect with your local disaster relief agency, red cross, or mutual aid group - they are also often willing to put up repeaters on their buildings.</li>
    </ol>
    
    <h3>Using drones to grow your Meshtastic network</h3>
    <aside>
      <h4 style="margin-top:0;">LilyGo T-Echo<br/>Hanging from a Drone</h4>
      <Image src={techoDrone} width={200} alt="LilyGo T-Echo hanging from a drone" />
    </aside>
    <p>Once a week, anyone in the area with a drone should coordinate a time and get up to altitude. Use a node on the ground set to client_mute to send out a number of messages inviting people to your internet chat room and generally stir up some traffic on the mesh.</p>
    <p>Why? We found is that there are a lot of people out there who have a node, and it's just sitting on their desk because they didn't see any nodes when they first turned it on. They may not see your message right then, but they will in the coming days or weeks.</p>
    <p><small>Tip: In larger meshes(200+ online nodes) the drone nodes may be configured as ROUTER.</small></p>
    <div style="clear:both;"></div>
  </section>
</BaseLayout>