---
import { siteConfig } from '../config/site';
---

<footer>
  <p>
    Our website content is licensed under Creative Commons
    <br>feel free to use it for your club's website: <a href={siteConfig.social.github}>Github</a>
    <br>If we've inspired you, please <a href="mailto:info@austinmesh.org">email us</a>!
    <br>This site is (c) by Tommy Ekstrand and is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.
  </p>
</footer>