---
import { siteConfig } from '../config/site';
import Navigation from './Navigation.astro';
import { Image } from 'astro:assets';
import logo from '../images/Austin-Mesh-Logo.svg';
---

<header>
  <a href="/">
    <Image 
      src={logo}
      class="logo" 
      alt={`Logo for ${siteConfig.name}`} 
      title={siteConfig.name} 
      width={500} 
      height={121} 
    />
  </a>
</header>

<Navigation />

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelector("header").classList.add("loaded");
  });
</script>