---
---
<footer data-pagefind-ignore="all">
  <small>
    Our website uses a share-alike license — feel free to use it for your club's website. See the source at <a href="https://github.com/austinmesh/www">GitHub</a>.
    <br />
    If we've inspired you, please <a href="mailto:info@austinmesh.org">email us</a>! · © Tommy Ekstrand, licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA-4.0</a> · <a href="/privacy/">Privacy Policy</a>
  </small>
</footer>
