---
import { Image } from 'astro:assets';
import logo from '../assets/logo/Austin-Mesh-Logo.svg';
import EventDialog from './EventDialog.astro';

interface Props {
  eventDialog?: boolean;
}
const { eventDialog = true } = Astro.props;
---
<header data-pagefind-ignore="all">
  <a href="/"><Image src={logo} alt="Logo for Austin Mesh" title="Austin Mesh" class="logo" width={500} height={121} /></a>
  {eventDialog && <EventDialog />}
</header>
