<nav>
    <menu>
        <li><a href="/">Home</a></li>
        <li>
            <a href="/learn/">Learn</a>
            <menu>
                <li><a href="/learn/#about">About</a></li>
                <li><a href="/learn/#coverage">Network coverage</a></li>
                <li><a href="/learn/#comparisons">Similar technology</a></li>
                <li><a href="/learn/meshcore-vs-meshtastic/">MeshCore vs Meshtastic</a></li>
                <li><a href="/learn/tuning-cavity-filter/">Tuning a cavity filter</a></li>
                <li><a href="/learn/kite-nodes-for-mesh-networking/">Kite Nodes for Mesh Networking</a></li>
            </menu>
        </li>
        <li>
            <a href="/join/">Join</a>
            <menu>
                <li><a href="/join/#network">Join the network</a></li>
                <li><a href="/join/#best-practices">Best practices</a></li>
                <li><a href="/join/#group">Join the group</a></li>
                <li><a href="/join/property-owner-faq-hosting-a-node/">Property Owner FAQ</a></li>
                <li><a href="/join/getting-started-meshcore/">Getting started with MeshCore</a></li>
            </menu>
        </li>
        <li>
            <a href="/devices/">Devices</a>
            <menu>
                <li><a href="/devices/#options">Recommended Options</a></li>
                <li><a href="/devices/#solar">DIY Solar Repeaters</a></li>
                <li><a href="/devices/#aerial">Aerial Nodes</a></li>
            </menu>
        </li>
        <li>
            <a href="/similar-networks/">Similar networks</a>
            <menu>
                <li><a href="/similar-networks/#other-meshes">Other meshes</a></li>
                <li><a href="/similar-networks/#start-a-similar-network">Start a similar network</a></li>
            </menu>
        </li>
        <li><a href="/partners/">Partners</a></li>
    </menu>
    <div class="menu--social">
        {% include "partials/social-icons.html" %}
    </div>
</nav>
